<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Survey{% endblock %}</title>
      <link rel="stylesheet" href="/static/style.css">
  </head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      
      <div class="flash-container flash-warning">{{ message }}</div>
      
      {% endfor %}
    {% endif %}
    {% endwith %}

  <main id="content">
         {% block content %}{% endblock %}
  </main>

</body>

</html>